node_modules
dist
out
.DS_Store
.eslintcache
*.log*
tsconfig.web.tsbuildinfo
resources/clients/steam/*
resources/clients/Frameworks
!resources/clients/steam/installSteamCMD.sh
!resources/clients/steam/runSteamCMD.sh